
{% extends "_layouts/base.html" %}
{% block content %}
    <h1>Welcome {{ session.username }}</h1>
    <h3>List of available universities:</h3>
<br/>
<table class="table table-striped">
 <tr>
    <th>Short-ID</th>
    <th>Full Name</th>
    <th>Address</th>
    <th>Canteens?</th>
    <th>Study rooms?</th>
    <th>Libraries?</th>
    <th>Editor</th>
  </tr>
{% for uni in unilist %}
<tr>
   <td>{{uni.shortname}}</TD>
   <td>{{uni.fullname}}</TD>
   <td>{{uni.address}}</TD>
   <td>{% if uni.canteens %} Edit {% else %} Add {% endif %}</TD>
   <td><a href="/studyrooms/{{uni.id}}/" >View/Edit</a></TD>
   <td>{% if uni.libraries %} Edit {% else %} Add {% endif %}</TD>
   <td><a href="/edituniversity/{{uni.id}}/" >Edit {{uni.id}}</a></TD>
</tr>
{% endfor %}
</table>
  <p><a href="{{ url_for('adduniversity') }}" class="btn btn-primary btn-large">Add a university</a></p>

{% endblock %}
