<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Unitaly</h1>
<p>The aim of this project is to collect data from various universities - starting with the Italian ones - elaborate this data and make them available to anyone, in a simple JSON format.</p>
<p>Some data that are available may be not so useful (<a href="http://unidata.xyz/api/unipd/udupadova">example</a>) - but they are used by <a href="https://telegram.me/unipdbot">@UnipdBot</a>. </p>
<p>You can find the docs of the available API calls <a href="docs">here.</a></p>
<hr />

<h3 align="center">Related projects:</h3>
<p>These projects are using unidata.xyz:</p>
<li><p><a href="https://telegram.me/unipdbot">@UnipdBot</a> Telegram Bot.</p></li>
<li><p><a href="https://play.google.com/apps/testing/com.ionicframework.unipd967659" target="_blank">Unipd App</a>: Ionic app, now available in Alpha mode for android. iOS version is not available yet - the Apple's license is expensive!</p></li>


<hr />




<h4 align="center">Want to help?</h4>
<p>Help is very much appreciated, both with the data collection and with the code. Most of the data are static (libraries, study rooms) but some data are scraped daily from different websites (to get the current day's menu, for example).</p>

<p>GitHub links: </p>
<ul>
<li><p><a href="https://github.com/mikexine/unidata-backend" target="_blank">unidata-backend on GitHub</a>.</p></li>
<li><p><a href="https://github.com/mikexine/UnipdBot" target="_blank">UnipdBot on GitHub</a>.</p></li>
<li><p><a href="https://github.com/mikexine/unipd-app" target="_blank">unipd-app on GitHub</a>.</p></li>
</ul>
<hr />
<br />

{% endblock %}