
{% extends "_layouts/base.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to UniOpen</h1>

  <p>Data from Italian universities</p>
  <p><a href="{{ url_for('docs') }}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="body-content">

  <!-- Example row of columns -->
  <div class="row">
  <h2 align="center">Related Projects</h2>
    <div class="col-lg-4">
      <h3><a href="http://bot.UniOpen.org" target="_blank">UnipdBot Chat-Bot</a></h3>
      <p>A simple bot that can send data about the University of Padua. Available on <a href="https://telegram.me/unipdbot">Telegram</a> and <a href="https://m.me/unipdbot">Facebook Messenger</a>.</p>
      <p><a class="btn btn-default" href="https://github.com/mikexine/UnipdBot" target="_blank">View on GitHub</a></p>
    </div>
    <div class="col-lg-4">
      <h3><a href="http://uniwhere.com/" target="_blank">Uniwhere</a></h3>
      <p>An app that takes the entire experience of university and makes it mobile: students can not only access their academic careers, exams, tests, results on their smartphones automatically; they can talk with each other using exam-based group chats, exchange materials or hints and use a peer-to-peer based weekly schedule of lessons.</p>
      <p><a class="btn btn-default" href="http://www.uniwhere.co/inc/uniwhere-app.html" target="_blank">Get the App!</a></p>
    </div>
    <div class="col-lg-4">
      <h3><a href="http://uniorganization.org/" target="_blank">UniOrganization</a></h3>
      <p>UniOpen is a proud member of UniOrganization! </p>
      <p><a href="http://uniorganization.org/" target="_blank"> <img src="/static/img/uniorganization-logo-full.png" width="140"> </a></p>
    </div>
  </div>
{% endblock %}

